.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__battles {
    &__list {
    }

    &__single {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $transparent-background;
        border-radius: 4px;
        padding: 15px 20px;
        margin: 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.125);

        &__result {
            &__win {
                color: #079992;
            }

            &__lose {
                color: #b71540;
            }
        }
    }
}
