Django>=2.1
psycopg2
gunicorn
django-crispy-forms
django-debug-toolbar
django-webpack-loader
libsass
django-compressor
django-sass-processor
django_extensions
pyyaml
requests
django-heroku
whitenoise
