.game-actions {
    &__single {
        background-color: $transparent-background;
        position: relative;
        border-radius: 4px;
        padding: 20px 20px 20px 50px;
        margin: 40px 0;
        border: 1px solid rgba(0, 0, 0, 0.125);
        display: flex;
        align-items: center;

        img {
            width: 80px;
            transform: rotate(3deg);
            position: absolute;
            left: -30px;
            top: -36px;

            &.blood {
                width: 30px;
                position: absolute;
                top: -20px;
                left: 36px;
            }
        }

        p {
            margin: 0;
            font-family: 'Suez One', serif;
            font-size: 18px;
        }
    }
}
