{% extends "hearthstone/base.html" %}

{% block content %}
  <div class="row my-5">
    <div class="col-md-12">
      <div class="battle-result">
        <h1>Résultat de la partie</h1>

        <div class="battle-result__content">
          <h3 class="my-5">{{ battle.player.username }} VS {{ battle.opponent.username }}</h3>
          <p>
            La partie s'est terminée sur une
            {% if battle.result == 1  %}
              <span class="text-victory">victoire</span> de <strong>{{ battle.player.username }}</strong>
            {% else %}
              <span class="text-victory">victoire</span> de <strong>{{ battle.opponent.username }}</strong>
            {% endif %}
            au bout de <strong>{{ battle.round }}</strong> tours.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
