{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Communauté</h1>

    <div class="users">

      {% for user in users %}
      <div class="users__single list-group my-3">
        <h3 class="list-group-item"><a href="{% url 'user' user.profile.id %}">{{user.user.username}}</a></h3>
        <p class="list-group-item">
          Crédit : <span>{{user.profile.credit}}</span><br>
          Score ELO : <span>{{user.profile.elo}}</span><br>
        </p>
      </div>
      {% empty %}
      <p>Aucun utilisateur n'a été trouvé.</p>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}


