{% extends "hearthstone/base.html" %}

{% block content %}
  <div class="row my-5">
    <div class="col-md-12">
      <h1>Communauté</h1>

      <div class="users">
        {% for user in users %}
          <div class="users__single list-group my-3">
            <h3 class="list-group-item">
              <a href="{% url 'user' user.profile.id %}">{{user.user.username}}</a>
              {% if request.user.is_authenticated %}
                {% if user.user.id != request.user.id and user.user not in followed_users %}
                  <a href="{% url 'subscribe' user.profile.id %}" class="users__single__follow float-right">Suivre cet utilisateur</a>
                  {% elif user.user.id != request.user.id and user.user in followed_users %}
                  <span class="users__single__follow float-right">Vous suivez cet utilisateur</span>
                {% endif %}
              {% endif %}
            </h3>
            <p class="list-group-item">
              Crédit : <span>{{user.profile.credit}}</span><br>
              Score ELO : <span>{{user.profile.elo}}</span><br>
            </p>
          </div>
        {% empty %}
          <p>Aucun utilisateur n'a été trouvé.</p>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}


