{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5" id="createDeck">
    <h1>Cartes disponible</h1>
    <div class="col-10 row">
    {% for card,number in cards.items %}
        <div class="col-3 text-center single-card my-4" data-name="{{ card.title }}" data-id="{{ card.id }}">
            <div class="single-card__number">{{ number }}</div>
            <img class="single-card__img" src="https://res.cloudinary.com/ds8br8lm0/image/upload/v1539448305/django/{{ card.slug }}.png" alt="{{ card.title }}">
        </div>
        {% empty %}
        <div class="col">
            Vous n'avez pas encore de cartes.
        </div>
    {% endfor %}
    </div>
    <div class="col-2 deck">
        <input id="deck__title" type="text" class="form-control w-100" placeholder="Nom du deck">
        <br>
        <div class="deck__container"></div>
        <br>
        <div class="card__count">Nombre de carte : <span class="card__count-number"></span></div>
        <br>
        <button id="save-deck" class="btn btn-dark w-100">Sauvegarder</button>
    </div>
</div>
{% endblock content %}
