{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5" id="createDeck">
    <h1>Cartes disponible</h1>
    <div class="col-10 row">
    {% for card,number in cards.items %}
        <div class="col-3 text-center single-card my-4" data-name="{{ card.title }}">
            <div class="single-card__number">{{ number }}</div>
            <img class="single-card__img" src="https://res.cloudinary.com/ds8br8lm0/image/upload/v1539448305/django/{{ card.slug }}.png" alt="{{ card.title }}">
        </div>
        {% empty %}
        <div class="col">
            Vous n'avez pas encore de cartes.
        </div>
    {% endfor %}
    </div>
    <div class="col-2 deck">
        <input type="text" placeholder="Nom du deck">
    </div>
</div>
{% endblock content %}
