{% extends "hearthstone/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Echange de carte</h1>

    <div class="exchange">
      <p>Vous souhaitez échanger la carte <strong>{{ card.title }}</strong></p>
      <form method="post" action="{% url 'start_exchange' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
          <label for="user_id">Choisissez un utilisateur à qui proposer un échange :</label>
          <select name="user_id" id="user_id" class="form-control">
            {% for profile in profiles %}
              {% if profile.user != request.user %}
              <option value="{{ profile.user.id }}">{{ profile.user.username }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <input type="hidden" name="card_id" value="{{ card.id }}">
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

{% endblock content %}


