{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Votre collection de cartes</h1>

    <div class="col-12 my-5">
      <p>Vous avez {{profile.credit}} credits</p>
      <a href="{% url 'buyCards' %}" class="btn btn-hearthstone">Obtenir plus de carte (100)</a>
    </div>

    <div class="row">
      {% for card in cards %}
      <div class="col-3 text-center single-card my-4">
        <a class="single-card__link" href="{% url 'card' card.id %}">
          <img src="{{ card.img }}" alt="{{ card.title }}" class="single-card__link__img">
        </a>
      </div>
      {% empty %}
      <div class="col">
        Vous n'avez pas encore de cartes.
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}


