{% extends "hearthstone/base.html" %}
{% load static %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Vos decks de cartes</h1>

    <div class="row">
      <div class="col">
        <a class="btn btn-hearthstone" href="{% url 'createDeck' %}">Créer un nouveau deck</a>
      </div>
    </div>

    <div class="row decks">
      {% for deck in decks %}
        <div class="col-3 text-center my-4 decks__single">
          <a href="{% url 'showDeck' deck.id %}">
            <img src="{% static 'images/deck.png' %}" alt="Deck {{ deck.title }}"><br>
            <div class="decks__single__title">{{ deck.title }}</div>
          </a>
        </div>
      {% empty %}
      <div class="col my-4">
        Vous n'avez pas encore de decks.
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}


