{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5" id="createDeck">
  <h1>Cartes disponible</h1>
  <div class="col-10 row">
    {{ cards }}
    {% for card in cards %}
    <div class="col-3 text-center single-card my-4" data-name="{{ card.title }}" data-id="{{ card.id }}">
      <div class="single-card__number">{{ number }}</div>
      <img class="single-card__img" src="https://res.cloudinary.com/ds8br8lm0/image/upload/v1539448305/django/{{ card.slug }}.png" alt="{{ card.title }}">
    </div>
    {% endfor %}
  </div>
  <div class="col-2 deck">
    <input type="text" placeholder="{{ deck.title }}">
    <button id="save-deck" class="btn btn-dark">Sauvegarder</button>
    <a href="{% url 'deleteDeck' deck.id %}" class="btn btn-danger">Supprimer</a>
  </div>
</div>
{% endblock content %}
